# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- Python
- R
- C++

Some of the popular languages that Data Scientists use are:
1. Python
2. JavaScript
3. C#

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Matplotlibs

|  Data Science Tools |
----------------------
| MySQL |
| Apache |
| PowerBI |

### Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to mutiply then add integers

In [5]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [6]:
200/6

33.333333333333336

## Author
Thaampapatt